.dateWrapper {
    /* position: absolute; */
    width: 100vw;
    /* height: 30vw; */
    /* left: 50%;
    bottom: -6vh;
    transform: translate(-50%, 0); */
}

.date {
    /* position: absolute;
    bottom: -0.5vh;
    left: 50%;
    transform: translate(-50%, 0); */
    /* font-size: 2em; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}