.button {
    background: #691839;

    color: white;
    border: none;

    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;

    padding: 0px 25px;
    height: 50px;
    border-radius: 2px;
    font-size: 28px;
    position: absolute;
    right: 5%;
    top: 10vh;
    color: #FFFFFF;
    z-index: 99999999;
    opacity: 0.9;
}

.button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem #FFFEA6);
}

@media only screen and (max-width: 812px) {
    .button {
        /* width: 150px; */
        padding: 5px 10px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
        right: 7%;
        top: 20vw;
    }
}